header {
    position: relative;
    overflow: hidden;
}

header .banner_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

header .navbar.navbar-default {
    z-index: 1;
    position: relative;
    background: none !important;
}

.navbar-brand {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 31px;
}

.navbar-brand img {
    display: inline-block;
    width: auto;
}

.navbar-brand h1 {
    font: 14px/14px 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    text-transform: uppercase;
    color: #000000;
}

.navbar-brand span {
    display: block;
    font: 4px/4px 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-top: 7px;
}

.navbar-nav > li {
    margin: 0 19px;
}

.navbar-nav > li:last-of-type {
    margin-right: 0;
}

.navbar-default {
    margin-bottom: 0;
    position: relative;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    padding: 31px 0 9px 0;
    color: #4d4d4d;
    text-transform: uppercase;
    font: 16px/16px "Asap", sans-serif;
    font-weight: 400;
    border-bottom: 2px solid transparent;
}

@media only screen and (max-width: 1024px) {
    .navbar-default .navbar-nav > li > a {
        padding-top: 50px;
    }
}

.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 2px solid #878787;
}

.btn {
    background-color: transparent;
    border: 1px solid #4d4d4d;
    min-width: 158px;
    padding: 0;
    border-radius: 0;
    color: #4d4d4d;
    height: 48px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font: 16px/48px "Asap", sans-serif;
    font-weight: 500;
}

.btn:hover {
    background-color: white;
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 9px 20px 0px #c8c8c8;
    -moz-box-shadow: 0px 9px 20px 0px #c8c8c8;
    box-shadow: 0px 9px 20px 0px #c8c8c8;
}

.banner_information .item_left {
    text-align: left;
    padding: 162px 15px 0 0;
}

.banner_information .item_left h1 {
    margin: 0 0 28px;
    font: 90px/90px "Asap", sans-serif;
    font-weight: 500;
    color: #4d4d4d;
}

.banner_information .item_left h1 span {
    display: block;
    font: 22px/22px "Asap", sans-serif;
    margin-top: 4px;
    position: relative;
    left: 6px;
}

.banner_information .item_left .btn:first-of-type {
    margin-right: 20px;
}

.banner_information .item_right {
    padding-right: 0;
}

.banner_information .item_right img {
    display: block;
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .banner_information .item_left {
        padding: 30px 15px;
        text-align: center;
    }

    .banner_information .item_right img {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (max-width: 424px) {
    .banner_information .item_left h1 {
        font: 21px/21px "Asap", sans-serif;
    }

    .banner_information .item_left h1 span {
        font: 12px/12px "Asap", sans-serif;
    }

    .banner_information .item_left .btn {
        width: 100%;
    }

    .banner_information .item_left .btn:first-of-type {
        margin: 0 0 15px;
    }
}

h2 {
    color: #4d4d4d;
    font: 46px/50px "Asap", sans-serif;
    font-weight: 700;
    margin: 0 0 15px;
    position: relative;
    text-transform: uppercase;
}

h2:before {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: #4d4d4d;
    position: absolute;
}

@media only screen and (max-width: 424px) {
    h2 {
        font: 21px/21px "Asap", sans-serif;
    }

    h2:before {
        height: 2px;
    }
}

.about {
    padding: 109px 0 125px;
    background-color: white;
}

.about .item_left {
    padding-left: 0;
    padding-top: 92px;
}

.about .item_left h2:before {
    left: 0;
    top: -20px;
}

.about .item_left p {
    font: 16px/25px "Asap", sans-serif;
    font-weight: 400;
    color: #4d4d4d;
    margin-bottom: 40px;
}

.about .item_left .btn {
    min-width: 243px;
}

.about .item_right {
    padding-right: 0;
}

.about .item_right img {
    width: 100%;
    display: block;
}

@media only screen and (max-width: 991px) {
    .about .item_left {
        padding: 30px 15px;
    }

    .about .item_right {
        padding: 0 15px;
    }
}

.services {
    background-color: #f6f6f6;
    padding: 142px 0 66px;
}

.services h2 {
    margin-bottom: 62px;
}

.services h2:before {
    top: -19px;
    left: 50%;
    transform: translate(-50%);
}

.services .col-md-4 {
    padding: 0;
    margin-bottom: 82px;
}

.services h3 {
    font: 24px/24px "Asap", sans-serif;
    color: #4d4d4d;
    font-weight: 500;
    margin: 0;
}

.services img {
    display: inline-block;
    width: 90px;
    margin-bottom: 17px;
}

.display_none {
    display: none !important;
}

.portfolio {
    padding: 150px 0 123px;
    background-color: #f6f6f6;
}

.portfolio #to_open {
    display: none;
}

.portfolio h2 {
    margin-bottom: 45px;
}

.portfolio h2:before {
    top: -19px;
    left: 50%;
    transform: translate(-50%);
}

.portfolio .image {
    margin-bottom: 30px;
}

.portfolio .image a {
    position: relative;
    display: block;
}

.portfolio .image a:before {
    content: '\f054';
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: black;
    opacity: 0;
}

.portfolio .image a:hover {
    -webkit-box-shadow: 0px 0px 32px 0px #dbdbdb;
    -moz-box-shadow: 0px 0px 32px 0px #dbdbdb;
    box-shadow: 0px 0px 32px 0px #dbdbdb;
}

.portfolio .image a:hover:before {
    opacity: 1;
}

.portfolio .image a img {
    width: 100%;
    display: block;
}

.portfolio .btn {
    margin: auto;
    width: 190px;
    display: block;
}

.testimonial {
    background-color: white;
    padding: 126px 0 122px;
}

.testimonial h2 {
    margin-bottom: 58px;
}

.testimonial h2:before {
    top: -19px;
    left: 50%;
    transform: translate(-50%);
}

.testimonial .owl-carousel {
    position: relative;
    max-width: 953px;
    margin: auto;
    border: 1px solid #212121;
}

.testimonial .owl-carousel .item {
    padding: 80px 74px 107px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial .owl-carousel .item .item_left {
    width: 158px;
}

.testimonial .owl-carousel .item .item_left img {
    display: block;
    width: 100%;
}

.testimonial .owl-carousel .item .item_right {
    max-width: 570px;
}

.testimonial .owl-carousel .item .item_right h3 {
    margin: 0 0 22px;
    font: 30px/21px "Asap", sans-serif;
    font-weight: 500;
    color: #212121;
    text-align: left;
}

.testimonial .owl-carousel .item .item_right h3 span {
    display: block;
    margin-top: 10px;
    font: 12px/12px "Asap", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.testimonial .owl-carousel .item .item_right p {
    font: 16px/26px "Asap", sans-serif;
    font-weight: 400;
    color: #212121;
}

.testimonial .owl-theme .owl-nav {
    display: none;
}

.testimonial .owl-theme .owl-dots {
    position: absolute;
    bottom: 38px;
    left: 50%;
    transform: translate(-50%);
}

.testimonial .owl-theme .owl-dots .owl-dot span {
    border-radius: 0;
    border: 1px solid #212121;
    width: 11px;
    height: 11px;
    background-color: transparent;
}

.testimonial .owl-theme .owl-dots .owl-dot.active span {
    background-color: #212121;
}

@media only screen and (max-width: 767px) {
    .testimonial .owl-carousel .item {
        display: block;
    }

    .testimonial .owl-carousel .item .item_left {
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 424px) {
    .testimonial .owl-carousel .item {
        padding: 30px 15px;
        display: block;
    }

    .testimonial .owl-carousel .item .item_left {
        padding-bottom: 15px;
        margin: auto;
    }

    .testimonial .owl-carousel .item .item_right h3 {
        text-align: center;
    }

    .testimonial .owl-theme .owl-dots {
        bottom: 10px;
    }
}

.owl-carousel button.owl-dot {
    outline: none;
}

.figure {
    background-color: #f6f6f6;
    padding: 52px 0 65px;
    margin-bottom: 154px;
}

.figure img {
    display: inline-block;
    width: 98px;
}

.figure h3 {
    color: #212121;
    font: 30px/30px "Asap", sans-serif;
    font-weight: 500;
    margin: 0;
    margin-top: 31px;
}

.figure h3 span {
    display: block;
    font: 22px/22px "Asap", sans-serif;
    font-weight: 400;
    margin-top: 16px;
    text-transform: uppercase;
}

footer {
    padding: 169px 0 38px;
    position: relative;
    overflow: hidden;
}

footer .container.form {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 26px;
    position: relative;
    z-index: 1;
}

footer h2 {
    color: #ffffff;
    margin-bottom: 71px;
}

footer h2:before {
    top: -19px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffffff;
}

footer .form-control {
    border-radius: 0;
    border: none;
    background-color: #ffffff;
    height: 57px;
}

footer .form-control::-webkit-input-placeholder {
    font: 16px/57px "Asap", sans-serif;
    color: #212121;
    font-weight: 400;
}

footer input {
    padding: 0 12px;
    margin-bottom: 30px;
}

footer textarea.form-control {
    width: 100%;
    resize: none;
    height: 207px !important;
    padding: 24px 12px;
    margin-bottom: 30px;
}

footer textarea.form-control::-webkit-input-placeholder {
    line-height: 16px;
}

footer .btn {
    min-width: 121px;
    background-color: transparent;
    background-image: none;
    margin: auto;
    display: block;
    margin-bottom: 58px;
    text-shadow: none;
}

footer .btn:after {
    content: '\f1d8';
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
    font-size: 15px;
    margin-left: 7px;
}

footer .icon {
    padding-left: 0;
}

footer .icon a {
    text-decoration: none;
    height: 27px;
    width: 27px;
    background-color: #ffffff;
    color: #4d4d4d;
    display: inline-block;
    margin-right: 9px;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
}

footer .icon a:hover {
    background-color: #0084b4;
    color: #ffffff;
}

footer .icon a:before {
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
    content: '\f39e';
}

footer .icon .tw:before {
    content: '\f099';
}

footer .icon .linkedin:before {
    content: '\f0e1';
}

footer .icon .g_plus:before {
    content: '\f0d5';
}

footer .icon .behance:before {
    content: '\f1b4';
}

footer .icon .dribbble:before {
    content: '\f17d';
}

@media only screen and (max-width: 767px) {
    footer .icon {
        padding: 0 95px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 424px) {
    footer .icon {
        padding: 0 65px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 374px) {
    footer .icon {
        padding: 0 40px;
        margin-bottom: 15px;
    }
}

footer h3 {
    font: 16px/16px "Asap", sans-serif;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

footer .footer_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: 0;
}

footer .fixed {
    width: 42px;
    height: 42px;
    display: inline-block;
    background-color: #ffffff;
    color: #4d4d4d;
    font-size: 12px;
    line-height: 42px;
    text-align: center;
    position: absolute;
    bottom: 109px;
    right: -50px;
    text-decoration: none;
}

footer .fixed:before {
    content: '\f077';
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
}

footer .fixed:hover {
    -webkit-box-shadow: 0px 20px 30px 11px #595958;
    -moz-box-shadow: 0px 20px 30px 11px #595958;
    box-shadow: 0px 20px 30px 11px #595958;
}

@media only screen and (max-width: 1024px) {
    footer .fixed {
        right: 0;
    }
}

@media only screen and (max-width: 767px) {
    footer .fixed {
        display: none;
    }
}

.skill {
    padding: 140px 0 166px;
    background-color: #ffffff;
}

.skill h2 {
    margin-bottom: 61px;
}

.skill h2:before {
    top: -19px;
    left: 50%;
    transform: translate(-50%);
}

.skill .diagram {
    max-width: 954px;
    height: 360px;
    position: relative;
    margin: auto;
    background-color: #fafafa;
}

.skill .diagram #myChart {
    position: absolute;
    right: 0;
    top: 0;
    width: 995px !important;
    height: 380px !important;
}

.skill .diagram .icon_d {
    position: absolute;
    bottom: -32px;
    width: 28px;
}

.skill .diagram .id {
    left: 180px;
}

.skill .diagram .ae {
    left: 365px;
}

.skill .diagram .ps {
    right: 365px;
}

.skill .diagram .ai {
    right: 180px;
}

@media only screen and (max-width: 1024px) {
    .skill .diagram {
        max-width: 900px;
    }

    .skill .diagram #myChart {
        width: 940px !important;
    }

    .skill .diagram .id {
        left: 175px;
    }

    .skill .diagram .ae {
        left: 355px;
    }

    .skill .diagram .ps {
        right: 355px;
    }

    .skill .diagram .ai {
        right: 175px;
    }
}

@media only screen and (max-width: 991px) {
    .skill .diagram {
        max-width: 700px;
        height: 355px;
    }

    .skill .diagram #myChart {
        width: 745px !important;
    }

    .skill .diagram .id {
        left: 135px;
    }

    .skill .diagram .ae {
        left: 275px;
    }

    .skill .diagram .ps {
        right: 275px;
    }

    .skill .diagram .ai {
        right: 135px;
    }
}

@media only screen and (max-width: 767px) {
    .skill .diagram {
        max-width: 355px;
        height: 200px;
    }

    .skill .diagram #myChart {
        width: 400px !important;
        height: 230px !important;
    }

    .skill .diagram .id {
        left: 55px;
    }

    .skill .diagram .ae {
        left: 125px;
    }

    .skill .diagram .ps {
        right: 125px;
    }

    .skill .diagram .ai {
        right: 55px;
    }
}

@media only screen and (max-width: 424px) {
    .skill .diagram {
        max-width: 280px;
        height: 160px;
    }

    .skill .diagram #myChart {
        width: 325px !important;
        height: 200px !important;
    }

    .skill .diagram .id {
        left: 45px;
    }

    .skill .diagram .ae {
        left: 100px;
    }

    .skill .diagram .ps {
        right: 100px;
    }

    .skill .diagram .ai {
        right: 45px;
    }
}

@media only screen and (max-width: 374px) {
    .skill .diagram {
        max-width: 230px;
        height: 140px;
    }

    .skill .diagram #myChart {
        width: 280px !important;
        height: 180px !important;
    }

    .skill .diagram .id {
        left: 30px;
    }

    .skill .diagram .ae {
        left: 80px;
    }

    .skill .diagram .ps {
        right: 80px;
    }

    .skill .diagram .ai {
        right: 30px;
    }
}